*pyc
MANIFEST
doc/_build
.idea
.coverage
.ipynb_checkpoints
.ropeproject

data
dist
build
PyAlgoTrade.egg-info

testcases/twitter_credentials.py
/pyalgotrade/.vs/pyalgotrade/v14
/pyalgotrade/pyalgotrade.sln
/pyalgotrade.pyproj
/gld-2012-yahoofinance.csv
/gld-2011-yahoofinance.csv
/gld-2010-yahoofinance.csv
/gld-2009-yahoofinance.csv
/gld-2008-yahoofinance.csv
/gld-2007-yahoofinance.csv
/gld-2006-yahoofinance.csv
/gdx-2012-yahoofinance.csv
/gdx-2011-yahoofinance.csv
/gdx-2010-yahoofinance.csv
/gdx-2009-yahoofinance.csv
/gdx-2008-yahoofinance.csv
/gdx-2007-yahoofinance.csv
/gdx-2006-yahoofinance.csv
/mystrats/sma_crossover.py
